/* Admin panel styles */
.wrap {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.airos-admin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.airos-logo {
    max-width: 100px;
    height: auto;
}

.airos-admin-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
	border-color: #f2f2f2;
	Border-width: 1px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1);
}

input[type="checkbox"] {
    transform: scale(2.5);
    margin-right: 10px;
}

input[type="text"], textarea {
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
