/* Styles for the live chat button and modal */
#airos-live-chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

#airos-live-chat-button.active {
    background-color: #ff0000; /* Change this color to what you prefer for the active state */
}

#airos-live-chat-modal {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 500px;
    height: 500px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    z-index: 1000;
    transform: translateY(100%);
    transition: transform 0.3s;
}

#airos-live-chat-modal.open {
    display: block;
    transform: translateY(0);
}

#airos-live-chat-modal iframe {
    width: 100%;
    height: 100%;
}
